* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'acme', sans-serif;
  background-color: #222;
  color: #fff;
}

/* mobile version */

nav {
  display: flex;
  position: absolute;
  top: 4.5rem;
  left: 33.094rem;
}